[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rtrends"]
	path = rtrends
	url = https://github.com/aviblinder/rtrends
[submodule "tsSelect"]
	path = tsSelect
	url = https://github.com/aviblinder/tsselect
